{% extends 'base.html' %}

{% block content %}
<!-- Home -->
<div class="mdl-layout__tab-panel {% if active == 'home' %}is-active{% endif %}" id="home">

	<!-- Message explicatif de la plateform de QCM -->
	<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
		<header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
			<i class="material-icons">play_circle_filled</i>
		</header>
		<div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
			<div class="mdl-card__supporting-text">
				<h4>Features</h4>
				Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
			</div>
		</div>
	</section>


	<!-- Liste des matieres en fonction de la formation de l'utilisateur -->
	<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
		<div class="mdl-card mdl-cell mdl-cell--12-col">
			<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
				{% if grade == "professeur" %}
				<h4 class="mdl-cell mdl-cell--12-col">Details des matières de la formation {{ session['formation'] }}</h4>
				{% endif %}
				{% if grade == "etudiant" %}
				<h4 class="mdl-cell mdl-cell--12-col">Details des matières de la formation {{ session['formation'] }}</h4>
				{% endif %}
				{% for matiere in session['listmatiere'] %}
				<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
					<div class="section__circle-container__circle mdl-color--primary"></div>
				</div>
				<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
					<h5>{{ matiere }}</h5>
					Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
		<div class="mdl-card mdl-cell mdl-cell--12-col">
			<div class="mdl-card__supporting-text">
				<h4>Technology</h4>
				Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
			</div>
		</div>
	</section>

</div>




<!-- Liste des QCM -->
<div class="mdl-layout__tab-panel {% if active == 'list_qcm' %}is-active{% endif %}" id="list_qcm">
	<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
		<div class="mdl-card mdl-cell mdl-cell--12-col">
			<div class="mdl-card__supporting-text">
				<h4>Liste des QCM</h4>
				<table width="100%" class="mdl-data-table">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">Nom du QCM</th>
							<th class="mdl-data-table__cell--non-numeric">Formation associé</th>
							<th class="mdl-data-table__cell--non-numeric">Matiere</th>
							<th class="mdl-data-table__cell--non-numeric">Auteur</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for info in varaible %}
						<tr>
 				    {% for qcm in info %}
 				       <td class="mdl-data-table__cell--non-numeric">{{ qcm.replace(".xml", "", 1) }}</td>
 				    {% endfor %}
						{% if grade == "professeur" %}
							<td class="mdl-data-table__cell--non-numeric"><a href="/delete_qcm" target="_blank" id="faire-qcm" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Supprimer le QCM</a></td>
						{% endif %}
						{% if grade == "etudiant" %}
							<td class="mdl-data-table__cell--non-numeric"><a href="/faire_qcm" target="_blank" id="faire-qcm" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Faire le QCM</a></td>
						{% endif %}
					 </tr>
 				   {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
</div>


{% if grade == "professeur" %}
<!-- Création d'un QCM -->
<div class="mdl-layout__tab-panel {% if active == 'create_qcm' %}is-active{% endif %}" id="create_qcm">
	<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
		<div class="mdl-card mdl-cell mdl-cell--12-col">
			<div class="mdl-card__supporting-text">


				<form method="post" action="/create_qcm">

   				<p><label>Nom du QCM</label> : <input type="text" name="qcm_name"></p>
					<p><label>Formation</label> :
						{% for formation in listformation %}
						<input type="checkbox" name="qcm_formation" value="{{ formation }}">{{ formation }}
						{% endfor %}
					</p>
					<p><label>Matière</label> :
						{% for matiere in session['listmatiere'] %}
						<input type="radio" name="qcm_matiere" value="{{ matiere }}">{{ matiere }}
						{% endfor %}
					</p>

					<p>
						<label>Auteur</label> : {{ session['username'] }}
					</p>

					<p>
						<label>Nombre de question</label> : <input type="number" name="qcm_question"  min="0">
					</p>

					<p>
						<label>Nombre de réponse par question</label> : <input type="number" name="qcm_answer"  min="0"">
					</p>


						<input type="submit" value="Création du QCM" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">
						{% if error_in_form %}<p>{{ error_in_form }}</p>{% endif %}
				</form>


			</div>
		</div>
	</section>
</div>
{% endif %}

{% endblock %}
