<form method="post" action="/validate_qcm">
<h1>Nom du QCM : {{ name }}</h1>
<input type='hidden' name='name' value='{{ name }}'>

<input type='hidden' name='number_question' value='{{ listquestion }}'>
<input type='hidden' name='number_awswer' value='{{ listawswer }}'>
<h2>Associé au formation :
{{ listformation }}
<input type='hidden' name='formation' value='{{ listformation }}'>
</h2>
<h2>Associé à la matière :
{{ matiere }}
<input type='hidden' name='matiere' value='{{ matiere }}'>
</h2>

{% for question in range(1, listquestion + 1) %}
<h3>Question {{ question }} <input type="text" name="question_{{ question }}"></h3>

  {% for awswer in range(1, listawswer + 1) %}
  <p>
    <input type="radio" value="{{ awswer }}" name="question_{{ question }}_awswer" />
      Réponse {{ awswer }}
    <input type="text" name="question_{{ question }}_awswer_{{ awswer }}">
  </p>
  {% endfor %}

{% endfor %}
<input type="submit" value="Validation du QCM">
</form>
